/*=====  End of MIXINS  ======*/
button, [type='button'], [type='reset'], [type='submit'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #037ABD;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "mr-eaves-modern", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: #026297;
    color: #fff; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: none;
    outline-offset: none; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #037ABD; }

.btn {
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s; }

.btn--ghost {
  text-transform: uppercase;
  color: #999;
  border: 1px solid #ddd;
  font-size: 12px;
  text-decoration: none;
  letter-spacing: 1px; }
  @media (min-width: 1400px) {
    .btn--ghost {
      font-size: 14px; } }

.btn--ghost--orange {
  color: #F6882E;
  border-color: #F6882E; }
  .btn--ghost--orange:hover {
    color: #c56d25;
    border-color: #c56d25; }

.btn--ghost--white {
  color: #fff;
  border-color: #fff; }
  .btn--ghost--white:hover {
    color: #70963E;
    border-color: #fff;
    background: #fff; }

.btn--orange {
  background: #F6882E; }
  .btn--orange:hover {
    background: #dd7a29; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "mr-eaves-modern", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  -webkit-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #037ABD;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(3, 122, 189, 0.7);
            box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(3, 122, 189, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #ddd; }
  [type='color']::-webkit-input-placeholder, [type='date']::-webkit-input-placeholder, [type='datetime']::-webkit-input-placeholder, [type='datetime-local']::-webkit-input-placeholder, [type='email']::-webkit-input-placeholder, [type='month']::-webkit-input-placeholder, [type='number']::-webkit-input-placeholder, [type='password']::-webkit-input-placeholder, [type='search']::-webkit-input-placeholder, [type='tel']::-webkit-input-placeholder, [type='text']::-webkit-input-placeholder, [type='time']::-webkit-input-placeholder, [type='url']::-webkit-input-placeholder, [type='week']::-webkit-input-placeholder, input:not([type])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #9b9b9d; }
  [type='color']:-ms-input-placeholder, [type='date']:-ms-input-placeholder, [type='datetime']:-ms-input-placeholder, [type='datetime-local']:-ms-input-placeholder, [type='email']:-ms-input-placeholder, [type='month']:-ms-input-placeholder, [type='number']:-ms-input-placeholder, [type='password']:-ms-input-placeholder, [type='search']:-ms-input-placeholder, [type='tel']:-ms-input-placeholder, [type='text']:-ms-input-placeholder, [type='time']:-ms-input-placeholder, [type='url']:-ms-input-placeholder, [type='week']:-ms-input-placeholder, input:not([type]):-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #9b9b9d; }
  [type='color']::-ms-input-placeholder, [type='date']::-ms-input-placeholder, [type='datetime']::-ms-input-placeholder, [type='datetime-local']::-ms-input-placeholder, [type='email']::-ms-input-placeholder, [type='month']::-ms-input-placeholder, [type='number']::-ms-input-placeholder, [type='password']::-ms-input-placeholder, [type='search']::-ms-input-placeholder, [type='tel']::-ms-input-placeholder, [type='text']::-ms-input-placeholder, [type='time']::-ms-input-placeholder, [type='url']::-ms-input-placeholder, [type='week']::-ms-input-placeholder, input:not([type])::-ms-input-placeholder, textarea::-ms-input-placeholder {
    color: #9b9b9d; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #9b9b9d; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(3, 122, 189, 0.6);
  outline-offset: 2px; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

ul.bullets {
  list-style-type: disc;
  list-style-position: inside; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #ddd; }

th {
  font-weight: 600; }

th,
td {
  padding: 0.75em 0.75em 0.75em 0; }

html {
  color: #58595B;
  font-family: "mr-eaves-modern", sans-serif;
  font-size: 100%;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "mr-eaves-modern", sans-serif;
  font-size: 1.25em;
  margin: 0 0; }

p {
  margin: 0 0 0.75em; }

ul + p {
  margin-top: 0.75em; }

a {
  color: #037ABD;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip: ink;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease; }
  a:hover {
    color: #025c8e; }
  a:focus {
    outline: none;
    outline-offset: none; }

a.link-white {
  color: #fff; }
  a.link-white:hover {
    color: #fff; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

h2 {
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
  position: relative; }
  h2.section-title::before {
    content: "";
    background: #000;
    height: 5px;
    width: 90%;
    margin-bottom: 18px;
    max-width: 750px;
    display: block; }

body,
html {
  width: 100%;
  height: 100%; }

img {
  width: 100%;
  max-width: auto; }

/*=======================================
=            Utility Classes            =
=======================================*/
@media (min-width: 1400px) {
  .hide--huge {
    display: none; } }

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1px; }

/*=====  End of Utility Classes  ======*/
h2.section-title {
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 36px; }
  @media (min-width: 1400px) {
    h2.section-title {
      font-size: 48px;
      line-height: 48px;
      margin-bottom: 25px !important; } }

.section-subtitle {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px; }

/*===========================================
=            Slick Slider Custom            =
===========================================*/
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .slick-track .slick-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

.slick-list {
  margin: 0 -15px; }

.slick-slide {
  margin: 0 15px; }

/*=====  End of Slick Slider Custom  ======*/
/*==============================
=            Header            =
==============================*/
#overlay {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  display: none;
  opacity: 0;
  -webkit-transition: all .2s;
  transition: all .2s; }

#overlay.overlay-show {
  opacity: 1;
  display: block; }

header {
  position: relative; }
  header select {
    margin-bottom: 5px; }
  header .secondary-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (min-width: 768px) {
      header .secondary-info {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 15px; } }
    @media (min-width: 1400px) {
      header .secondary-info {
        width: 1200px;
        margin: 0 auto; } }
    header .secondary-info .logo-wrapper {
      position: relative;
      text-align: center;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      padding: 10px 0; }
      @media (min-width: 768px) {
        header .secondary-info .logo-wrapper {
          -webkit-box-ordinal-group: 2;
              -ms-flex-order: 1;
                  order: 1;
          text-align: left; } }
      header .secondary-info .logo-wrapper img {
        max-width: 75%; }
        @media (min-width: 768px) {
          header .secondary-info .logo-wrapper img {
            max-width: 215px; } }
      header .secondary-info .logo-wrapper .hamburglar {
        position: absolute;
        top: 15px;
        right: 5px; }
        @media (min-width: 768px) {
          header .secondary-info .logo-wrapper .hamburglar {
            display: none; } }
    @media (min-width: 768px) {
      header .secondary-info .header-links-wrapper {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; } }
    @media (min-width: 768px) {
      header .secondary-info .header-search-wrapper, header .secondary-info .hero .hero-search-wrapper, .hero header .secondary-info .hero-search-wrapper {
        width: 250px; } }
    header .secondary-info .header-social-wrapper {
      display: none; }
      @media (min-width: 768px) {
        header .secondary-info .header-social-wrapper {
          display: block; } }
      header .secondary-info .header-social-wrapper ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 10px 5px; }
        header .secondary-info .header-social-wrapper ul li + li {
          padding-left: 8px; }
        header .secondary-info .header-social-wrapper ul a {
          padding: 3px;
          -webkit-clip-path: circle(10px at center);
                  clip-path: circle(10px at center); }
          @media (min-width: 1400px) {
            header .secondary-info .header-social-wrapper ul a {
              font-size: 1.25em;
              padding: 5px;
              -webkit-clip-path: circle(13px at center);
                      clip-path: circle(13px at center); } }
        header .secondary-info .header-social-wrapper ul .facebook {
          background: #037ABD;
          color: #fff; }
        header .secondary-info .header-social-wrapper ul .instagram {
          background: #70963E;
          color: #fff; }
        header .secondary-info .header-social-wrapper ul .twitter {
          background: #64CBE6;
          color: #fff; }
  header nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    background: #037ABD;
    padding: 10px;
    z-index: 5;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    -webkit-transition: all .2s;
    transition: all .2s; }
    @media (min-width: 768px) {
      header nav {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        -webkit-transform: none;
                transform: none;
        background: #00354C; }
        header nav ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
          header nav ul li {
            border-bottom: none;
            padding: 0; }
            header nav ul li a {
              font-size: 14px; } }
    @media (min-width: 1400px) {
      header nav ul {
        width: 1200px;
        margin: 0 auto; } }
    header nav li {
      border-bottom: 1px solid #026297;
      padding: 10px 0; }
      header nav li:last-of-type {
        border-bottom: none; }
    header nav a {
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px; }
    header nav.nav-show {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }

.header-search-wrapper, .hero .hero-search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .header-search-wrapper input, .hero .hero-search-wrapper input {
    margin-bottom: 0; }
  .header-search-wrapper .search-btn, .hero .hero-search-wrapper .search-btn {
    background: #F6C22F;
    color: #fff;
    padding: 6px 10px; }

/*=====  End of Header  ======*/
/*==============================
=            Footer            =
==============================*/
footer {
  background: #00354C;
  padding: 30px 20px; }
  @media (min-width: 1400px) {
    footer {
      padding: 30px 0; } }
  footer .footer-wrapper {
    margin: 0 auto; }
    @media (min-width: 768px) {
      footer .footer-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
    @media (min-width: 1400px) {
      footer .footer-wrapper {
        width: 1200px; } }
  footer .footer-logo {
    text-align: center; }
    footer .footer-logo img {
      max-width: 250px; }
    @media (min-width: 768px) {
      footer .footer-logo {
        text-align: left; }
        footer .footer-logo img {
          max-width: 100%; } }
  footer .footer-nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 0;
            flex: 1 0; }
    @media (min-width: 768px) {
      footer .footer-nav {
        padding-left: 50px; } }
    footer .footer-nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      margin-top: 35px; }
      @media (min-width: 768px) {
        footer .footer-nav ul {
          margin-top: 0;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap; } }
      footer .footer-nav ul li {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        text-align: center; }
        @media (min-width: 768px) {
          footer .footer-nav ul li {
            -webkit-box-flex: 1;
                -ms-flex: 1 0 auto;
                    flex: 1 0 auto; } }
      footer .footer-nav ul a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px; }

/*=====  End of Footer  ======*/
/*==================================
=            Search Bar            =
==================================*/
.search-item-type {
  border-left: 4px solid transparent; }

.search-item-title,
.search-item-type {
  padding: .75rem; }

/*=====  End of Search Bar  ======*/
/*=================================
=            Hero Unit            =
=================================*/
.hero {
  background: url(../images/hero-bg.jpg) no-repeat;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  min-height: 200px;
  padding: 30px 10px;
  color: #fff; }
  @media (min-width: 768px) {
    .hero {
      height: 450px;
      padding: 50px; } }
  @media (min-width: 1024px) {
    .hero {
      height: 600px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media (min-width: 1400px) {
    .hero {
      height: 700px; } }
  .hero video {
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; }
  .hero video:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1; }
  .hero .hero-content-wrapper {
    z-index: 3; }
    @media (min-width: 1400px) {
      .hero .hero-content-wrapper {
        margin: 0 auto;
        width: 1200px; } }
  .hero h2 {
    font-size: 30px;
    line-height: 30px; }
    @media (min-width: 768px) {
      .hero h2 {
        font-size: 60px;
        line-height: 60px; } }
    @media (min-width: 1400px) {
      .hero h2 {
        font-size: 90px;
        line-height: 90px; } }
  .hero h1 {
    margin: 0;
    margin-bottom: 50px;
    letter-spacing: 1px;
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .hero h1 {
        font-size: 100px;
        line-height: 100px; } }
    @media (min-width: 1024px) {
      .hero h1 {
        font-size: 130px;
        line-height: 110px; } }
    @media (min-width: 1400px) {
      .hero h1 {
        font-size: 170px;
        line-height: 150px; } }
  @media (min-width: 1024px) {
    .hero .hero-info-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .hero .hero-info-box {
    background: rgba(113, 151, 62, 0.82);
    padding: 10px;
    margin-bottom: 10px; }
    @media (min-width: 768px) {
      .hero .hero-info-box {
        padding: 30px 30px;
        margin-bottom: 10px;
        margin-top: 10px; }
        .hero .hero-info-box h3 {
          font-size: 30px;
          line-height: 38px; } }
    @media (min-width: 1024px) {
      .hero .hero-info-box {
        margin-bottom: 0;
        margin-top: 50px;
        width: 45%;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2; }
        .hero .hero-info-box h3 {
          font-size: 24px;
          line-height: 30px; } }
    @media (min-width: 1400px) {
      .hero .hero-info-box {
        width: 455px; }
        .hero .hero-info-box h3 {
          font-size: 30px;
          line-height: 38px; } }
  .hero .hero-search-wrapper {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .hero .hero-search-wrapper input {
      background: rgba(250, 250, 250, 0.75);
      border-radius: 0; }
      @media (min-width: 768px) {
        .hero .hero-search-wrapper input {
          font-size: 24px; } }
    @media (min-width: 1024px) {
      .hero .hero-search-wrapper {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
        -webkit-box-flex: 1;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto;
        max-width: calc(100% - 500px);
        margin-bottom: 50px; } }
    @media (min-width: 768px) {
      .hero .hero-search-wrapper .search-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .hero .hero-search-wrapper .search-btn .svg-inline--fa {
          width: 2em;
          height: 1.5em; } }

/**
 *
 * Word Rotater
 *
 */
.word-rotator {
  display: inline-block;
  min-width: 97%;
  text-align: left;
  position: relative; }

.word-rotator span {
  position: absolute;
  font-weight: bold;
  top: 0;
  opacity: 0;
  -webkit-animation: rotateWord 18s linear infinite 0s;
  animation: rotateWord 18s linear infinite 0s; }

@media (min-width: 1024px) {
  .word-rotator span {
    top: 0px; } }

.word-rotator span:nth-child(2) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s; }

.word-rotator span:nth-child(3) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s; }

.word-rotator span:nth-child(4) {
  -webkit-animation-delay: 9s;
          animation-delay: 9s; }

.word-rotator span:nth-child(5) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s; }

.word-rotator span:nth-child(6) {
  -webkit-animation-delay: 15s;
          animation-delay: 15s; }

@-webkit-keyframes rotateWord {
  0% {
    opacity: 0; }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes rotateWord {
  0% {
    opacity: 0; }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

/*=====  End of Hero Unit  ======*/
.main-content {
  padding-left: 40px;
  padding-right: 40px; }
  @media (min-width: 768px) {
    .main-content {
      padding-left: 50px;
      padding-right: 50px; } }
  @media (min-width: 1024px) {
    .main-content {
      margin-top: 50px;
      margin-bottom: 75px; } }
  @media (min-width: 1400px) {
    .main-content {
      padding-left: 0;
      padding-right: 0; } }

.home-section {
  margin-top: 20px; }

.home-section + .home-section {
  margin-top: 40px; }
  @media (min-width: 1024px) {
    .home-section + .home-section {
      margin-top: 75px !important; } }

/*==========================================
=            Most Visited Links            =
==========================================*/
#most-visited ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (min-width: 1024px) {
    #most-visited ul {
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; } }

#most-visited li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1em;
  background: #037ABD;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all .2s;
  transition: all .2s; }
  @media (min-width: 768px) {
    #most-visited li {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 33.333%;
              flex: 1 0 33.333%; } }
  @media (min-width: 1024px) {
    #most-visited li {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 16.66667%;
              flex: 1 0 16.66667%;
      font-size: 1em; } }
  @media (min-width: 1024px) {
    #most-visited li:hover {
      z-index: 12;
      -webkit-transform: translateY(5px);
              transform: translateY(5px);
      -webkit-transform: scale(1.1);
              transform: scale(1.1); } }
  #most-visited li:nth-of-type(2) {
    background: #317FA5; }
  #most-visited li:nth-of-type(3) {
    background: #46858E; }
  #most-visited li:nth-of-type(4) {
    background: #568A76; }
  #most-visited li:nth-of-type(5) {
    background: #64905A; }
  #most-visited li:nth-of-type(6) {
    background: #70963E; }
  #most-visited li a {
    color: #fff;
    text-decoration: none; }

/*=====  End of Most Visited Links  ======*/
/*=====================================
=            Featured News            =
=====================================*/
.home-section h2.section-title {
  color: #70963E; }
  .home-section h2.section-title::before {
    background: #70963E; }
  @media (min-width: 1400px) {
    .home-section h2.section-title {
      width: 1200px;
      margin: 0 auto; } }

.featured-news {
  position: realtive;
  z-index: 2; }

@media (min-width: 1024px) {
  .featured-news-wrapper {
    display: grid;
    grid-template-columns: 2fr 100px 1fr;
    grid-template-rows: 100%;
    position: relative;
    z-index: 2; } }

@media (min-width: 1400px) {
  .featured-news-wrapper {
    width: 1300px;
    margin: 0 auto;
    display: grid; } }

@media (min-width: 1400px) {
  .featured-news::after {
    background: url(../images/news-bg.png) repeat;
    content: "";
    height: 930px;
    display: block;
    width: 100%;
    position: absolute;
    margin-top: -630px; } }

.featured-story-wrapper {
  position: relative;
  height: calc(100% - 100px);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2; }
  .featured-story-wrapper .featured-news--slide--title {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.75)));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
    padding: 20px 10px 10px;
    font-size: 1.5em;
    line-height: 1.25em;
    width: 100%; }
    @media (min-width: 1024px) {
      .featured-story-wrapper .featured-news--slide--title {
        bottom: 25px;
        left: 25px;
        padding: 0;
        background: none;
        padding-right: 150px;
        font-size: 1.75em;
        line-height: 1.5em; } }
  @media (min-width: 1024px) {
    .featured-story-wrapper img {
      -o-object-fit: cover;
         object-fit: cover;
      height: 100%; } }

.featured-news-additional {
  background: #037ABD;
  padding: 10px 15px; }
  @media (min-width: 1024px) {
    .featured-news-additional {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      position: relative;
      z-index: 3;
      padding: 20px 25px;
      border-left: 15px solid #fff;
      border-top: 15px solid #fff;
      margin-top: 80px; } }
  @media (min-width: 1400px) {
    .featured-news-additional {
      padding: 25px 35px;
      border-left: 15px solid #e6e7e8;
      border-top: 15px solid #e6e7e8;
      margin-top: 100px; } }
  .featured-news-additional li {
    border-bottom: 1px solid #0368a1;
    padding: 10px 0;
    line-height: 1.375em;
    font-weight: 300; }
    @media (min-width: 1024px) {
      .featured-news-additional li {
        line-height: 1.5em;
        font-size: 1.25em; } }
    @media (min-width: 1400px) {
      .featured-news-additional li {
        font-size: 1.5em; } }
    .featured-news-additional li:last-of-type {
      border-bottom: none; }
  .featured-news-additional a {
    color: #fff;
    text-decoration: none; }

/*=====  End of Featured News  ======*/
/*=======================================
=            Upcoming Events            =
=======================================*/
.upcoming-events h2.section-title {
  color: #F6C22F; }
  .upcoming-events h2.section-title::before {
    background: #F6C22F; }

/**
 *
 * Event Card
 *
 */
.event-cards-wrapper {
  margin-bottom: 25px;
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 1400px) {
    .event-cards-wrapper {
      width: 1200px; } }

.event-card {
  text-align: center;
  background: #fff;
  border: 1px solid #bababa; }
  .event-card .event-card--header {
    background: #70963E; }
    .event-card .event-card--header h3 {
      color: #fff;
      text-transform: uppercase;
      padding: 10px;
      font-size: 24px;
      letter-spacing: 1px; }
  .event-card .event-card--details {
    padding: 20px 10px; }
    @media (min-width: 768px) {
      .event-card .event-card--details {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    .event-card .event-card--details .event-card--details--title {
      color: #58595B;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 22px;
      letter-spacing: 1px; }
      @media (min-width: 768px) {
        .event-card .event-card--details .event-card--details--title {
          font-size: 16px;
          line-height: 18px; } }
    .event-card .event-card--details .event-card--details--time {
      color: #6D6E71;
      font-weight: 300;
      font-size: 16px; }
    .event-card .event-card--details .fa-map-marker {
      display: block;
      color: #F6882E;
      margin-bottom: 8px;
      text-align: center;
      width: 100%;
      margin: 10px 0; }
    .event-card .event-card--details .event-card--details--address {
      font-style: normal;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 14px;
      line-height: 16px; }
      @media (min-width: 768px) {
        .event-card .event-card--details .event-card--details--address {
          font-size: 12px;
          line-height: 14px; } }
      .event-card .event-card--details .event-card--details--address strong {
        font-size: 16px;
        line-height: 18px; }
        @media (min-width: 768px) {
          .event-card .event-card--details .event-card--details--address strong {
            font-size: 14px;
            line-height: 16px; } }

/*=====  End of Upcoming Events  ======*/
/*=========================
=            Upcoming Meetings            =
=========================*/
.upcoming-meetings h2.section-title {
  color: #F6882E; }
  .upcoming-meetings h2.section-title::before {
    background: #F6882E; }

@media (min-width: 1024px) {
  .upcoming-meetings-section-wrapper {
    display: grid;
    grid-template-columns: 1fr 80px 1fr;
    grid-template-rows: 100%; } }

@media (min-width: 1400px) {
  .upcoming-meetings-section-wrapper {
    width: 1400px;
    margin: 0 auto; } }

.upcoming-meetings-video-wrapper {
  margin-bottom: 20px; }
  @media (min-width: 1024px) {
    .upcoming-meetings-video-wrapper figure {
      height: calc(100% - 100px); } }
  .upcoming-meetings-video-wrapper figcaption {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px; }
  @media (min-width: 1024px) {
    .upcoming-meetings-video-wrapper {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      position: relative;
      z-index: 2; }
      .upcoming-meetings-video-wrapper img {
        border-right: 15px solid #fff;
        border-bottom: 15px solid #fff;
        -o-object-fit: cover;
           object-fit: cover;
        height: 100%; } }

@media (min-width: 1024px) {
  .upcoming-meetings-wrapper {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    z-index: 1;
    background: url(../images/meetings-bg.png) repeat;
    padding: 50px;
    padding-left: 120px;
    margin-top: 100px;
    color: #fff; }
    .upcoming-meetings-wrapper h2.section-title {
      color: #fff;
      width: auto; }
      .upcoming-meetings-wrapper h2.section-title::before {
        background: #fff; } }

.upcoming-meeting--title {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  line-height: 18px; }
  @media (min-width: 1400px) {
    .upcoming-meeting--title {
      font-size: 20px;
      line-height: 21px;
      padding-bottom: 5px; } }

.upcoming-meeting--details {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 20px; }
  @media (min-width: 1400px) {
    .upcoming-meeting--details {
      font-size: 16px;
      line-height: 22px; } }

.upcoming-meeting + .upcoming-meeting {
  margin-top: 20px; }

@media (min-width: 1024px) {
  .upcoming-meeting + a {
    font-size: 15px;
    margin-top: 25px;
    color: #fff;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px; } }

/*=====  End of Upcoming Meetings  ======*/
/*=======================================
=            Notices Section            =
=======================================*/
.notices h2.section-title {
  color: #037ABD; }
  .notices h2.section-title::before {
    background: #037ABD; }

@media (min-width: 1024px) {
  .notices-section-wrapper {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 285px 1fr;
    grid-gap: 25px; } }

@media (min-width: 1400px) {
  .notices-section-wrapper {
    width: 1200px;
    margin: 0 auto; } }

.notice-wrapper {
  display: none; }

.notice-wrapper.showTab {
  display: block; }

@media (min-width: 1024px) {
  .notices-section-headings {
    padding-right: 25px;
    border-right: 4px solid #dedede; } }

.notice-section-title {
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px;
  background: #fff;
  margin-bottom: 8px;
  text-align: center;
  border: 1px solid #F6C22F;
  color: #F6C22F;
  -webkit-transition: all .2s;
  transition: all .2s; }
  .notice-section-title:last-of-type {
    margin-bottom: 15px; }
  .notice-section-title:hover {
    background: #F6C22F;
    color: #fff; }
  @media (min-width: 1024px) {
    .notice-section-title {
      margin-bottom: 15px; } }

.notice-section-title.selected {
  background: #F6C22F;
  color: #fff;
  border: 1px solid #F6C22F; }

.notice-title {
  color: #F6C22F;
  text-transform: uppercase;
  font-size: 1.5em;
  line-height: 1em; }

.notice-subtitle {
  font-size: 1em;
  text-transform: uppercase;
  color: #6D6E71;
  letter-spacing: 1px; }

.notice-details {
  margin-top: 20px; }

/*=====  End of Notices Section  ======*/
/*===========================================
=            Departments Section            =
===========================================*/
@media (min-width: 1024px) {
  .home-section.department {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 80px 1fr;
    grid-template-rows: 100%; } }

@media (min-width: 1800px) {
  .home-section.department {
    width: 1800px; } }

@media (min-width: 1024px) {
  .home-section.department .department-image {
    -o-object-fit: cover;
       object-fit: cover;
    border-right: 15px solid #fff;
    border-bottom: 15px solid #fff;
    height: calc(100% - 100px);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
    z-index: 2; } }

.home-section.department .featured-department-wrapper {
  background: #70963E;
  color: #fff; }
  .home-section.department .featured-department-wrapper .featured-department--info {
    padding: 25px 15px; }
    @media (min-width: 1024px) {
      .home-section.department .featured-department-wrapper .featured-department--info {
        padding-left: 50px; } }
  @media (min-width: 1024px) {
    .home-section.department .featured-department-wrapper {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 2;
      padding: 40px 70px;
      margin-top: 100px; }
      .home-section.department .featured-department-wrapper h2.section-title {
        width: auto; }
      .home-section.department .featured-department-wrapper p {
        font-size: 18px;
        line-height: 24px; }
      .home-section.department .featured-department-wrapper a.link-white {
        display: block;
        margin-bottom: 10px; } }

.home-section.department .section-subtitle {
  line-height: 1em; }

.home-section.department h2.section-title {
  color: #fff; }
  .home-section.department h2.section-title::before {
    content: none; }

/*=====  End of Departments Section  ======*/
