@import "bourbon",
"bitters/base";

body,
html {
    width: 100%;
    height: 100%;
}

// .phone-wrapper {
//     width: 400px;
//     margin: 0 auto 25px;
//     overflow-x: hidden;
//     position: relative;
//     height: 100%;
// }

img {
    width: 100%;
    max-width: auto;
}

/*=======================================
=            Utility Classes            =
=======================================*/

.hide--huge{
	@include huge{
		display: none;
	}
}


.uppercase{
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*=====  End of Utility Classes  ======*/


h2.section-title {
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 36px;
    @include huge{
    	font-size: 48px;
    	line-height: 48px;
    	margin-bottom: 25px !important;
    }
}

.section-subtitle {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
}

/*===========================================
=            Slick Slider Custom            =
===========================================*/


.slick-track{
    display: flex;
    
    .slick-slide{
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: stretch; //optional
        justify-content: flex-start; //optional
    }
}

.slick-list{
	margin: 0 -15px;
}

.slick-slide{
	margin: 0 15px;
}

/*=====  End of Slick Slider Custom  ======*/


/*==============================
=            Header            =
==============================*/

#overlay {
    background: rgba(0, 0, 0, .75);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    display: none;
    opacity: 0;
    transition: all .2s;
}

#overlay.overlay-show {
    opacity: 1;
    display: block;
}

header {
    position: relative;
    select {
        margin-bottom: 5px;
    }
    .secondary-info {
        display: flex;
        flex-direction: column;
        @include tablet{
        	flex-direction: row;
        	align-items: center;
        	justify-content: space-between;
        	padding:15px;
        }
        @include huge{
        	width: $contain-width;
        	margin: $center;
        }
        .logo-wrapper {
            position: relative;
            text-align: center;
            order: 2;
            padding: 10px 0;
            @include tablet{
            	order: 1;
            	text-align: left;
            }
            img {
                max-width: 75%;
                @include tablet{
                	max-width: 215px;
                }
            }
            .hamburglar {
                position: absolute;
                top: 15px;
                right: 5px;
                @include tablet{
                	display: none;
                }
            }
        }
        .header-links-wrapper{
        	@include tablet{ 
        		order: 2;
        	}
        }
        .header-search-wrapper{
        	@include tablet{
        		width: 250px;
        	}
        }
        .header-social-wrapper {
            display: none;
            @include tablet{
            	display:block;            	
            }
            ul {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 10px 5px;
                li+li {
                    padding-left: 8px;
                }
                a {
                    padding: 3px;
                    clip-path: circle(10px at center);
                    @include huge{
                    	font-size: 1.25em;
                    	padding: 5px;
                    	clip-path: circle(13px at center);                    	
                    }
                }
                .facebook {
                    background: $blue;
                    color: #fff;
                }
                .instagram {
                    background: $green;
                    color: #fff;
                }
                .twitter {
                    background: #64CBE6;
                    color: #fff;
                }
            }
        }
    }
    nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 75%;
        background: $blue;
        padding: 10px;
        z-index: 5;
        transform: translate3d(-100%, 0, 0);
        transition: all .2s;
        @include tablet{
        	position: relative;
        	top: auto;
        	left: auto;
        	width: 100%;
        	transform: none;
        	background: #00354C;
        	ul{
        		display:flex;
        		align-items: center;
        		justify-content: space-between;
        		li{
        			border-bottom: none;
        			padding: 0;
        			a{
        				font-size: 14px;
        			}
        		}
        	}
        }
        @include huge{
        	ul{
        		width: $contain-width;
        		margin: 0 auto;
        	}
        }
        li {
            border-bottom: 1px solid shade($blue, 20%);
            padding: 10px 0;
            &:last-of-type {
                border-bottom: none;
            }
        }
        a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
        }
        &.nav-show {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
}

.header-search-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    input {
        margin-bottom: 0;
    }
    .search-btn {
        background: $yellow;
        color: #fff;
        padding: 6px 10px;
    }
}


/*=====  End of Header  ======*/


/*=================================
=            Hero Unit            =
=================================*/

.hero {
    background: url(../images/hero-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 200px;
    padding: 30px 10px;
    color: #fff;
    @include tablet{
    	height: 450px;
    	padding: 50px;
    }
    @include desktop{
    	height: 600px;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    }
    @include huge{
    	height: 700px;
    }
    .hero-content-wrapper{
    	@include huge{
    		margin: 0 auto;
    		width: $contain-width;
    	}
    }
    h2 {
        font-size: 30px;
        line-height: 30px;
        @include tablet{
        	font-size: 60px;
        	line-height: 60px;
        }
        @include huge{
        	font-size: 90px;
        	line-height: 90px;
        }
    }
    h1 {
        margin: 0;
        margin-bottom: 50px;
        letter-spacing: 1px;
        font-size: 50px;
        line-height: 50px;
        text-transform: uppercase;
        @include tablet{
        	font-size: 100px;
        	line-height: 100px;
        }
        @include desktop{
        	font-size: 130px;
        	line-height: 110px;
        }
        @include huge{
        	font-size: 170px;
        	line-height: 150px;
        }
    }
    .hero-info-wrapper{
    	@include desktop{
    		display: flex;
    		align-items:flex-end;
    		justify-content: space-between;
    	}
    }
    .hero-info-box {
        background: rgba(113, 151, 62, .82);
        padding: 10px;
        margin-bottom: 10px;
        @include tablet{
        	padding: 30px 30px;
			margin-bottom: 10px;
			margin-top: 10px;
			h3{
				font-size: 30px;
				line-height: 38px;
			}
        }
        @include desktop{        	
			margin-bottom: 0;
			margin-top: 50px;
			width: 45%;	
			order:2;		
			h3{
				font-size: 24px;
				line-height: 30px;
			}
        }
        @include huge{        	
			width: 455px;	
			h3{
				font-size: 30px;
				line-height: 38px;
			}
        }
    }
    .hero-search-wrapper {
        @extend .header-search-wrapper;
        align-items: stretch;
        input {
            background: rgba(250, 250, 250, .75);
            border-radius: 0;
            @include  tablet{
            	font-size: 24px;
            }
        }
        @include desktop{
        	order: 1;
        	flex: 1 0 auto;
        	max-width: calc(100% - 500px);
        	margin-bottom: 50px;
        }
        .search-btn{
        	@include tablet{
    		    display: flex;
			    align-items: center;
			    justify-content: center;	
			    .svg-inline--fa {
				    width: 2em;
				    height: 1.5em;
				}		
        	}
        }
    }
}


/**
 *
 * Word Rotater
 *
 */

.word-rotator {
    display: inline-block;
    min-width: 97%;
    text-align: left;
    position: relative;
}

.word-rotator span {
    position: absolute;
    font-weight: bold;
    top: 0;
    opacity: 0;
    -webkit-animation: rotateWord 18s linear infinite 0s;
    animation: rotateWord 18s linear infinite 0s;
}

@media (min-width: 1024px) {
    .word-rotator span {
        top: 0px;
    }
}

.word-rotator span:nth-child(2) {
    animation-delay: 3s;
}

.word-rotator span:nth-child(3) {
    animation-delay: 6s;
}

.word-rotator span:nth-child(4) {
    animation-delay: 9s;
}

.word-rotator span:nth-child(5) {
    animation-delay: 12s;
}

.word-rotator span:nth-child(6) {
    animation-delay: 15s;
}

@keyframes rotateWord {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    20% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}



/*=====  End of Hero Unit  ======*/

.main-content{
	padding-left: 10px;
	padding-right: 10px;	
	@include desktop{
		margin-top: 50px;
	}
}

.home-section {
    margin-top: 20px;
}

.home-section+.home-section {
    margin-top: 40px;
    @include desktop{
    	margin-top: 75px !important;
    }
}


/*==========================================
=            Most Visited Links            =
==========================================*/

#most-visited{
	ul{
		display:flex;
		align-items:stretch;
		justify-content: space-between;
		flex-wrap: wrap;
		@include desktop{
			flex-wrap: nowrap;
		}
	}
	li{
		flex: 1 0 50%;	
		font-size: 14px;	
		@include tablet{
			flex: 1 0 33.333%;		
		}
		@include desktop{
			flex: 1 0 16.66667%;
			font-size: 1em;		
		}
		display:flex;
		align-items:center;
		justify-content: center;
		line-height: 1em;
		background: $blue;
		padding: 25px;
		text-align: center;
		text-transform: uppercase;
		transition: all .2s;
		&:hover{
			@include desktop{
				z-index: 12;
				transform: translateY(5px);
				transform: scale(1.1);
			}
		}
		&:nth-of-type(2){
			background: #317FA5;
		}
		&:nth-of-type(3){
			background: #46858E;
		}
		&:nth-of-type(4){
			background: #568A76;
		}
		&:nth-of-type(5){
			background: #64905A;
		}
		&:nth-of-type(6){
			background: #70963E;
		}
		a{
			color: #fff;
			text-decoration: none;
		}
	}
}

/*=====  End of Most Visited Links  ======*/


/*=====================================
=            Featured News            =
=====================================*/

.home-section h2.section-title {
    color: $green;
    &::before {
        background: $green;
    }
    @include huge{
    	width: $contain-width;
    	margin: $center;
    }
}

.featured-news{
	position: realtive;
	z-index: 2;
}

.featured-news-wrapper{
	@include desktop{
		display:grid;
		grid-template-columns: repeat(7, 1fr);
		grid-template-rows: repeat(12, 1fr);
		position: relative;
		z-index: 2;
	}
	@include huge{
		width: 1300px;
		margin: $center;
		display:grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(12, 1fr);
	}
}

@include huge{
.featured-news::after{
	background: url(../images/news-bg.png) repeat;
	content: "";
	height: 900px;
	display: block;
	width: 100%;
	position: absolute;
	// z-index: 1;
	margin-top: -600px;
}
}

/**
 *
 * Slider
 *
 */

.featured-news-slider {
    // margin-top: 10px;
    transition: all .2s;
    @include desktop{
    	grid-column-start: 1;
    	grid-column-end: 6;
    	grid-row-start: 1;
    	grid-row-end: 12;
    }
    @include huge{
    	grid-column-start: 1;
    	grid-column-end: 9;
    	grid-row-start: 1;
    	grid-row-end: 12;
    }
}

.featured-news--slide {
    position: relative;
    h3.featured-news--slide--title {
        color: #fff;
        bottom: 20px;
        left: 15px;
        position: absolute;
        line-height: 1.375em;
        @include desktop{
        	font-size: 1.75rem;
			padding-right: 225px;
        }
        @include huge{
        	font-size: 2em;
			padding-right: 150px;
        }
    }
}

.featured-news-additional {
    background: $blue;
    padding: 10px 15px;
    @include desktop{
    	grid-column-start:5;
    	grid-column-end: 8;
    	grid-row-start: 4;
    	grid-row-end: 13;
    	position:relative;
    	z-index: 3;
    	padding: 20px 25px;
    	border-left: 15px solid #fff;
    	border-top: 15px solid #fff;
    }
    @include huge{
    	grid-column-start:8;
    	grid-column-end: 13;
    	grid-row-start: 4;
    	grid-row-end: 13;    	
    	padding: 25px 35px;
    	border-left: 15px solid #e6e7e8;
    	border-top: 15px solid #e6e7e8;
    }
    li {
        border-bottom: 1px solid shade($blue, 15%);
        padding: 10px 0;
        line-height: 1.375em;
        font-weight: 300;
        @include desktop{
        	line-height: 1.5em;
        	font-size: 1.25em;
        }
        @include huge{
        	font-size: 1.5em;
        }
        &:last-of-type {
            border-bottom: none;
        }
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}


/*=====  End of Featured News  ======*/


/*=======================================
=            Upcoming Events            =
=======================================*/

.upcoming-events h2.section-title {
    color: $yellow;
    &::before {
        background: $yellow;
    }
}


/**
 *
 * Event Card
 *
 */

.event-cards-wrapper {
    margin-bottom: 25px;
    width: 90%;
    margin: 0 auto;
    @include huge{
    	width: $contain-width;
    }
}

.event-card {    
    text-align: center;
    background: #fff;
    border: 1px solid #bababa;
    .event-card--header {
        background: $green;
        h3 {
            color: #fff;
            text-transform: uppercase;
            padding: 10px;
            font-size: 24px;
            letter-spacing: 1px;
        }
    }
    .event-card--details {
        padding: 20px 10px;
        @include tablet{
        	display: flex;
        	flex-direction: column;
        	justify-content: space-between;
        }
        .event-card--details--title {
            color: #58595B;
            text-transform: uppercase;
            font-size: 20px;
            line-height: 22px;
            letter-spacing: 1px;
            @include tablet{
            	font-size: 16px;
            	line-height: 18px;
            }
        }
        .event-card--details--time {
            color: #6D6E71;
            font-weight: 300;
            font-size: 16px;
        }
        .event-card--details--address {
            font-style: normal;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-top: 12px;
            font-size: 14px;
            line-height: 16px;
            @include tablet{
            	font-size: 12px;
            	line-height: 14px;
            }
            strong {
                font-size: 16px;
                line-height: 18px;
                @include tablet{
                	font-size: 14px;
					line-height: 16px;
                }
            }
            &::before {
			    font-family: "Font Awesome 5 Solid";   content: "\f276";
			    display:block;
			    color: $orange;
			    margin-bottom:8px;
			}            
        }
    }
}


/*=====  End of Upcoming Events  ======*/


/*=========================
=            Upcoming Meetings            =
=========================*/

.upcoming-meetings {
    // background: $orange;
    // color: #fff;
}

.upcoming-meetings h2.section-title {
    color: $orange;
    &::before {
        background: $orange;
    }
}

.upcoming-meetings-section-wrapper{
	@include desktop{
		display:grid; 
		grid-template-columns: repeat(7, 1fr);
		grid-template-rows: repeat(15, 1fr);
	}
	@include huge{
		width: $contain-width;
		margin: $center;		
		grid-template-columns: repeat(7, 1fr);
		grid-template-rows: repeat(15, 1fr);
	}
}

.upcoming-meetings-video-wrapper {
    margin-bottom: 20px;
    figcaption {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
    }
    @include desktop{
    	grid-column-start: 1;
    	grid-column-end: 5;
    	grid-row-start: 1;
    	grid-row-end: 14;
    	position: relative;
		z-index: 2;
		img{ border-right: 15px solid #fff; border-bottom: 15px solid #fff;}
    }
    @include huge{
    	grid-column-start: 1;
    	grid-column-end: 5;
    	grid-row-start: 1;
    	grid-row-end: 14;
    	position: relative;
		z-index: 2;
		img{ border-right: 15px solid #fff; border-bottom: 15px solid #fff;}
    }
}

.upcoming-meetings-wrapper{
	@include desktop{
		grid-column-start: 4;
		grid-column-end: 8;
		grid-row-start: 2;
		grid-row-end: 15;
		position: relative;
		z-index: 1;
		background: url(../images/meetings-bg.png) repeat;
		padding: 50px;
		padding-left: 200px;

		color: #fff;

		h2.section-title {
		    color: #fff;
		    width: auto;
		    &::before {
		        background: #fff;
		    }
		}
	}
}

.upcoming-meeting--title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    @include huge{
    	font-size: 20px;
    }
}

.upcoming-meeting--details {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 20px;
    @include huge{
    	font-size: 16px;
		line-height: 22px;
    }
}

.upcoming-meeting+.upcoming-meeting {
    margin-top: 20px;
}

.upcoming-meeting + a{
	@include desktop{
		font-size: 15px;
		margin-top: 25px;
		color: #fff;
		display:block;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}


/*=====  End of Upcoming Meetings  ======*/

/*=======================================
=            Notices Section            =
=======================================*/

.notices h2.section-title {
    color: $blue;
    &::before {
        background: $blue;
    }
}

.notices-section-wrapper{
	@include huge{
		width: $contain-width;
		margin: $center;

		display: grid;
		grid-template-columns: 285px 1fr;
		grid-gap: 25px;
	}
}

.notice-wrapper{
	display:none;
}
.notice-wrapper.showTab{
	display:block;
}

.notice-section-title{
	cursor: pointer;
	text-transform: uppercase;
    padding: 10px;
	background: #fff;
    margin-bottom: 8px;
    text-align: center;
	border: 1px solid $yellow;
	color: $yellow;
	transition: all .2s;
	&:last-of-type{
		margin-bottom: 15px;
	}
	&:hover{
		background: $yellow;
		color: #fff;
	}
	@include huge{
		margin-bottom: 15px;
	}
}

.notice-section-title.selected {
    background: $yellow;    
    color: #fff;
    border: 1px solid $yellow;
}

.notice-title {
    color: $yellow;
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 1em;
}

.notice-subtitle {
    font-size: 1em;
    text-transform: uppercase;
    color: #6D6E71;
    letter-spacing: 1px;
}

.notice-details{
	margin-top: 20px;
}
/*=====  End of Notices Section  ======*/

/*===========================================
=            Departments Section            =
===========================================*/

.home-section.department{
	@include desktop{
		width: 100%;
		margin: $center;
		display: grid;
		grid-template-columns: 1fr 40px 1fr;
		grid-template-rows: 75px 1fr 30px;
	}
	@include huger{
		width: 1800px;
	}	
	.department-image{
		img{
			display: block;
			@include desktop{
				border-right: 15px solid #fff;
				border-bottom: 15px solid #fff;
			}
		}
		@include desktop{
			grid-column-start: 1;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 3;			
			position: relative;
			z-index: 2;
		}
	}
	.featured-department-wrapper{
		background: $green;
		color: #fff;
		padding: 25px 15px;
		@include desktop{
			grid-column-start: 2;
			grid-column-end: 4;
			grid-row-start: 2;
			grid-row-end: 4;
			padding: 40px 70px;
			h2.section-title{
				width: auto;
			}
			p{
				font-size: 18px;
				line-height: 24px;
			}
			a.link-white{
				display:block;
				margin-bottom: 10px;
			}
		}
	}
	.section-subtitle{
		line-height: 1em;
	}
	h2.section-title {
	    color: #fff;
	    &::before {
	        content: none;
	    }
	}	
}


/*=====  End of Departments Section  ======*/

